keyboard==0.13.5
mouse==0.7.1
pystray==0.19.4
psutil==5.9.5
pywin32

Pillow==10.0.0
ttkthemes==3.2.2
tkinter-tooltip==2.0.1
customtkinter==5.2.0

sv-ttk==2.6.0
tkinter-modernui==1.0.0
matplotlib==3.7.2
seaborn==0.12.2

plyer==2.1.0
requests==2.31.0
cryptography==41.0.3

colorlog==6.7.0
python-dateutil==2.8.2
fpdf2==2.7.9